body {
  background-color: #f8f9fa;
}

.login-box {
   background: #e9f1fb;
  width: 100%;
  max-width: 500px;
  border: 1px solid #d0e3f0;
}

.login-box h2 {
  font-weight: bold;
}

.login-box input {
  border-radius: 6px;
}

.login-box button {
  border-radius: 6px;
}


